@import 'colors';

* {
  &::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
  }
  &::-webkit-scrollbar-track {
    margin: -1px;
    border-top: 1px solid;
    border-left: 1px solid;
  }
  &::-webkit-scrollbar-corner {
    margin: -2px;
    border-top: 1px solid;
    border-left: 1px solid;
  }
}
@media (prefers-color-scheme: light) {
  * {
    &::-webkit-scrollbar-track {
      border-top-color: $light-border;
      border-left-color: $light-border;
      background-color: $light-scrollbar-track;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $light-scrollbar;
    }
    &::-webkit-scrollbar-corner {
      border-top-color: $light-border;
      border-left-color: $light-border;
      background-color: $light-scrollbar-track;
    }
  }
}
@media (prefers-color-scheme: dark) {
  * {
    &::-webkit-scrollbar-track {
      border-top-color: $dark-border;
      border-left-color: $dark-border;
      background-color: $dark-scrollbar-track;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $dark-scrollbar;
    }
    &::-webkit-scrollbar-corner {
      border-top-color: $dark-border;
      border-left-color: $dark-border;
      background-color: $dark-scrollbar-track;
    }
  }
}